Para más información consultar Readme.txt

# Librerias

In [1]:
import cv2     # for capturing videos
import math   # for mathematical operations
import matplotlib.pyplot as plt    # for plotting the images
%matplotlib inline
import pandas as pd

# frame extract

In [32]:
count = 121
videoFile = "./Raw/Despierto/VID-20220203-WA0048.mp4"
cap = cv2.VideoCapture(videoFile)   # capturing the video from the given path
frameRate = cap.get(5) #frame rate
x=1
while(cap.isOpened()):
    frameId = cap.get(1) #current frame number
    ret, frame = cap.read()
    if (ret != True):
        break
    if (frameId % math.floor(frameRate) == 0):
        filename ="frame%d.jpg" % count;count+=1
        cv2.imwrite(filename, frame)
cap.release()
print ("Done!")

Done!

In [ ]:
img=plt.imread('frame5.jpg')
plt.imshow(img)
#imagen eliminada por privacidad

# Etiquetado y guardado

## Dormido

### RM

In [58]:
#clases dormido=0 despierto=1
cols_name = ['image_ID', 'Class']
list = [['frame0.jpg',1],
        ['frame1.jpg',0],
        ['frame2.jpg',0],
        ['frame3.jpg',0],
        ['frame4.jpg',0],
        ['frame5.jpg',0],
        ['frame6.jpg',0],
        ['frame7.jpg',0],
        ['frame8.jpg',0],
        ['frame9.jpg',0],
        ['frame10.jpg',0],
        ['frame11.jpg',0],
        ['frame12.jpg',1],
        ['frame13.jpg',1],
        ]

In [59]:
df=pd.DataFrame(list,columns=cols_name)
df.head()

     image_ID  Class
0  frame0.jpg      1
1  frame1.jpg      0
2  frame2.jpg      0
3  frame3.jpg      0
4  frame4.jpg      0

### RC

In [61]:
#clases dormido=0 despierto=1
list1 = [['frame14.jpg',1],
        ['frame15.jpg',0],
        ['frame16.jpg',0],
        ['frame17.jpg',0],
        ['frame18.jpg',0],
        ['frame19.jpg',0],
        ['frame20.jpg',0],
        ['frame21.jpg',0],
        ['frame22.jpg',0],
        ['frame23.jpg',0],
        ['frame24.jpg',0],
        ['frame25.jpg',0],
        ['frame26.jpg',0],
        ['frame27.jpg',0],
        ['frame28.jpg',0],
        ['frame29.jpg',0],
        ]

In [62]:
df1=pd.DataFrame(list1,columns=cols_name)
df1.head()

      image_ID  Class
0  frame14.jpg      1
1  frame15.jpg      0
2  frame16.jpg      0
3  frame17.jpg      0
4  frame18.jpg      0

concatenando dfs

In [63]:
df_final=pd.concat([df,df1],ignore_index=True)

### E

In [64]:
list2 = [['frame30.jpg',0],
        ['frame31.jpg',0],
        ['frame32.jpg',0],
        ['frame33.jpg',0],
        ]

In [65]:
df2=pd.DataFrame(list2,columns=cols_name)
df2.head()

      image_ID  Class
0  frame30.jpg      0
1  frame31.jpg      0
2  frame32.jpg      0
3  frame33.jpg      0

Combinando datasets

In [ ]:
df_final=pd.concat([df_final,df2],ignore_index=True)

### Mi

In [68]:
list3 = [['frame34.jpg',0],
        ['frame35.jpg',0],
        ['frame36.jpg',0],
        ['frame37.jpg',0],
        ]

In [69]:
df3=pd.DataFrame(list3,columns=cols_name)
df3.head()

      image_ID  Class
0  frame34.jpg      0
1  frame35.jpg      0
2  frame36.jpg      0
3  frame37.jpg      0

Combinando datasets

In [ ]:
df_final=pd.concat([df_final,df3],ignore_index=True)
df_final

### V

In [74]:
list4 = [['frame38.jpg',0],
        ['frame39.jpg',0],
        ['frame40.jpg',0],
        ['frame41.jpg',0],
        ['frame42.jpg',0],
        ['frame43.jpg',0],
        ['frame44.jpg',0]
        ]

In [75]:
df4=pd.DataFrame(list4,columns=cols_name)
df4.head()

      image_ID  Class
0  frame38.jpg      0
1  frame39.jpg      0
2  frame40.jpg      0
3  frame41.jpg      0
4  frame42.jpg      0

Combinando dataframes

In [ ]:
df_final=pd.concat([df_final,df4],ignore_index=True)
df_final

### Y

In [78]:
list5 = [['frame45.jpg',0],
        ['frame46.jpg',0],
        ['frame47.jpg',0],
        ['frame48.jpg',0],
        ['frame49.jpg',0],
        ['frame50.jpg',0],
        ['frame51.jpg',0]
        ]

In [79]:
df5=pd.DataFrame(list5,columns=cols_name)
df5.head()

      image_ID  Class
0  frame45.jpg      0
1  frame46.jpg      0
2  frame47.jpg      0
3  frame48.jpg      0
4  frame49.jpg      0

Combinando dataframes

In [ ]:
df_final=pd.concat([df_final,df5],ignore_index=True)
df_final

### H

In [84]:
list6 = [['frame52.jpg',1],
        ['frame53.jpg',1],
        ['frame54.jpg',1],
        ['frame55.jpg',0],
        ['frame56.jpg',0],
        ['frame57.jpg',0],
        ['frame58.jpg',0]
        ]

In [86]:
df6=pd.DataFrame(list6,columns=cols_name)
df6.head()

      image_ID  Class
0  frame52.jpg      1
1  frame53.jpg      1
2  frame54.jpg      1
3  frame55.jpg      0
4  frame56.jpg      0

Combinacion

In [ ]:
df_final=pd.concat([df_final,df6],ignore_index=True)
df_final

### D,J y Er

In [89]:
list7 = [['frame59.jpg',0],
        ['frame60.jpg',0],
        ['frame61.jpg',1],
        ['frame62.jpg',0],
        ['frame63.jpg',0],
        ]

In [90]:
df7=pd.DataFrame(list7,columns=cols_name)
df7.head()

      image_ID  Class
0  frame59.jpg      0
1  frame60.jpg      0
2  frame61.jpg      1
3  frame62.jpg      0
4  frame63.jpg      0

Anexando

In [91]:
df_final=pd.concat([df_final,df7],ignore_index=True)
df_final

       image_ID  Class
0    frame0.jpg      1
1    frame1.jpg      0
2    frame2.jpg      0
3    frame3.jpg      0
4    frame4.jpg      0
..          ...    ...
59  frame59.jpg      0
60  frame60.jpg      0
61  frame61.jpg      1
62  frame62.jpg      0
63  frame63.jpg      0

[64 rows x 2 columns]

### Guardando data parte 1

In [95]:
df_final.to_csv('data_dormido.csv',index=False)

In [96]:
pd.read_csv("data_dormido.csv")

       image_ID  Class
0    frame0.jpg      1
1    frame1.jpg      0
2    frame2.jpg      0
3    frame3.jpg      0
4    frame4.jpg      0
..          ...    ...
59  frame59.jpg      0
60  frame60.jpg      0
61  frame61.jpg      1
62  frame62.jpg      0
63  frame63.jpg      0

[64 rows x 2 columns]

## Despierto

### E

In [3]:
cols_name = ['image_ID', 'Class']
list = [['frame64.jpg',1],
        ['frame65.jpg',1],
        ['frame66.jpg',1],
        ['frame67.jpg',1],
        ['frame68.jpg',1],
        ['frame69.jpg',1]
        ]

In [4]:
df=pd.DataFrame(list,columns=cols_name)
df.head()

      image_ID  Class
0  frame64.jpg      1
1  frame65.jpg      1
2  frame66.jpg      1
3  frame67.jpg      1
4  frame68.jpg      1

### RC

In [8]:
list2 = [['frame70.jpg',1],
        ['frame71.jpg',1],
        ['frame72.jpg',1],
        ['frame73.jpg',1],
        ['frame74.jpg',1],
        ['frame75.jpg',1],
        ['frame76.jpg',1],
        ['frame77.jpg',1],
        ['frame78.jpg',1],
        ['frame79.jpg',1],
        ['frame80.jpg',1],
        ['frame81.jpg',1],
        ['frame82.jpg',1],
        ['frame83.jpg',1],
        ['frame84.jpg',1]
        ]

In [9]:
df2=pd.DataFrame(list2,columns=cols_name)
df2.head()

      image_ID  Class
0  frame70.jpg      1
1  frame71.jpg      1
2  frame72.jpg      1
3  frame73.jpg      1
4  frame74.jpg      1

Anexando dataframes

In [10]:
df_final=pd.concat([df,df2],ignore_index=True)
df_final

       image_ID  Class
0   frame64.jpg      1
1   frame65.jpg      1
2   frame66.jpg      1
3   frame67.jpg      1
4   frame68.jpg      1
5   frame69.jpg      1
6   frame70.jpg      1
7   frame71.jpg      1
8   frame72.jpg      1
9   frame73.jpg      1
10  frame74.jpg      1
11  frame75.jpg      1
12  frame76.jpg      1
13  frame77.jpg      1
14  frame78.jpg      1
15  frame79.jpg      1
16  frame80.jpg      1
17  frame81.jpg      1
18  frame82.jpg      1
19  frame83.jpg      1
20  frame84.jpg      1

### RM

In [12]:
list3 = [['frame85.jpg',1],
        ['frame86.jpg',1],
        ['frame87.jpg',1],
        ['frame88.jpg',1],
        ['frame89.jpg',1],
        ['frame90.jpg',1],
        ['frame91.jpg',1],
        ['frame92.jpg',1],
        ['frame93.jpg',1]
        ]

In [13]:
df3=pd.DataFrame(list3,columns=cols_name)
df3.head()

      image_ID  Class
0  frame85.jpg      1
1  frame86.jpg      1
2  frame87.jpg      1
3  frame88.jpg      1
4  frame89.jpg      1

Anexando

In [14]:
df_final=pd.concat([df_final,df3],ignore_index=True)
df_final

       image_ID  Class
0   frame64.jpg      1
1   frame65.jpg      1
2   frame66.jpg      1
3   frame67.jpg      1
4   frame68.jpg      1
5   frame69.jpg      1
6   frame70.jpg      1
7   frame71.jpg      1
8   frame72.jpg      1
9   frame73.jpg      1
10  frame74.jpg      1
11  frame75.jpg      1
12  frame76.jpg      1
13  frame77.jpg      1
14  frame78.jpg      1
15  frame79.jpg      1
16  frame80.jpg      1
17  frame81.jpg      1
18  frame82.jpg      1
19  frame83.jpg      1
20  frame84.jpg      1
21  frame85.jpg      1
22  frame86.jpg      1
23  frame87.jpg      1
24  frame88.jpg      1
25  frame89.jpg      1
26  frame90.jpg      1
27  frame91.jpg      1
28  frame92.jpg      1
29  frame93.jpg      1

### Mi

In [16]:
list4 = [['frame94.jpg',1],
        ['frame95.jpg',1],
        ['frame96.jpg',1],
        ['frame97.jpg',1],
        ['frame98.jpg',1],
        ['frame99.jpg',1],
        ]

In [17]:
df4=pd.DataFrame(list4,columns=cols_name)
df4.head()

      image_ID  Class
0  frame94.jpg      1
1  frame95.jpg      1
2  frame96.jpg      1
3  frame97.jpg      1
4  frame98.jpg      1

Anexando

In [ ]:
df_final=pd.concat([df_final,df4],ignore_index=True)
df_final

### V

In [20]:
list5 = [['frame100.jpg',1],
        ['frame101.jpg',1],
        ['frame102.jpg',1],
        ['frame103.jpg',1],
        ['frame104.jpg',1],
        ['frame105.jpg',1],
        ['frame106.jpg',1],
        ]

In [21]:
df5=pd.DataFrame(list5,columns=cols_name)
df5.head()

       image_ID  Class
0  frame100.jpg      1
1  frame101.jpg      1
2  frame102.jpg      1
3  frame103.jpg      1
4  frame104.jpg      1

Anexando

In [ ]:
df_final=pd.concat([df_final,df5],ignore_index=True)
df_final

### Y

In [24]:
list6 = [['frame107.jpg',1],
        ['frame108.jpg',1],
        ['frame109.jpg',1],
        ['frame110.jpg',1],
        ['frame111.jpg',1],
        ['frame112.jpg',1],
        ['frame113.jpg',1],
        ]

In [26]:
df6=pd.DataFrame(list6,columns=cols_name)
df6.head()

       image_ID  Class
0  frame107.jpg      1
1  frame108.jpg      1
2  frame109.jpg      1
3  frame110.jpg      1
4  frame111.jpg      1

Anexando

In [ ]:
df_final=pd.concat([df_final,df6],ignore_index=True)
df_final

### H

In [29]:
list7 = [['frame114.jpg',1],
        ['frame115.jpg',1],
        ['frame116.jpg',1],
        ['frame117.jpg',1],
        ['frame118.jpg',1],
        ['frame119.jpg',1],
        ['frame120.jpg',1],
        ]

In [30]:
df7=pd.DataFrame(list7,columns=cols_name)
df7.head()

       image_ID  Class
0  frame114.jpg      1
1  frame115.jpg      1
2  frame116.jpg      1
3  frame117.jpg      1
4  frame118.jpg      1

Anexando

In [ ]:
df_final=pd.concat([df_final,df7],ignore_index=True)
df_final

### D,J y Er

In [33]:
list8 = [['frame121.jpg',1],
        ['frame122.jpg',1],
        ['frame123.jpg',1],
        ['frame124.jpg',1],
        ['frame125.jpg',1],
        ['frame126.jpg',1],
        ]

In [34]:
df8=pd.DataFrame(list8,columns=cols_name)
df8.head()

       image_ID  Class
0  frame121.jpg      1
1  frame122.jpg      1
2  frame123.jpg      1
3  frame124.jpg      1
4  frame125.jpg      1

In [35]:
df_final=pd.concat([df_final,df8],ignore_index=True)
df_final

        image_ID  Class
0    frame64.jpg      1
1    frame65.jpg      1
2    frame66.jpg      1
3    frame67.jpg      1
4    frame68.jpg      1
..           ...    ...
58  frame122.jpg      1
59  frame123.jpg      1
60  frame124.jpg      1
61  frame125.jpg      1
62  frame126.jpg      1

[63 rows x 2 columns]

### Guardando data 2da parte y juntando ambas partes

In [36]:
df_final.to_csv('data_despierto.csv',index=False)

Preparando ambos datasets para juntarlos

In [38]:
despierto=pd.read_csv("data_despierto.csv")

In [39]:
dormido=pd.read_csv("data_dormido.csv")

Combinando ambos datasets en uno

In [40]:
data_completo=pd.concat([dormido,despierto], ignore_index=True)

In [41]:
data_completo

         image_ID  Class
0      frame0.jpg      1
1      frame1.jpg      0
2      frame2.jpg      0
3      frame3.jpg      0
4      frame4.jpg      0
..            ...    ...
122  frame122.jpg      1
123  frame123.jpg      1
124  frame124.jpg      1
125  frame125.jpg      1
126  frame126.jpg      1

[127 rows x 2 columns]

In [42]:
data_completo.to_csv('data_completo.csv',index=False)